<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67938327347-03il4ls10ap5g03h6bu3ldpl6c91ll4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67938327347-03il4ls10ap5g03h6bu3ldpl6c91ll4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>67938327347-ehts7ncvn2on0v5a2dhcfus2hhm9fbuj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoqSopnrxwOp1ZDkRihdn4acrYfDTdYbw</string>
	<key>GCM_SENDER_ID</key>
	<string>67938327347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.onlineyearbook</string>
	<key>PROJECT_ID</key>
	<string>online-year-book</string>
	<key>STORAGE_BUCKET</key>
	<string>online-year-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67938327347:ios:a8e715a48048b85f15fc46</string>
</dict>
</plist>